<div id="bespoke-series" class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
<div class="collection_desc">{{ collection.description }}</div>
  <ul class="bespoke-series-grid">
    {% for product in collection.products limit: product_limit %}
      <li>
  <!--   <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
<span class="visually-hidden">{{ product.title }}</span>
</a> -->

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless product.featured_image == blank %}
  {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}
        
  <a href="{{ product.url }}">
    <div>
      {% if product.title == 'Valencia Tuscany Ultimate Luxury Edition' %}
        <img id="{{ img_id }}"
             class="grid-view-item__image lazyload"
             src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/tuscany-ultimate-collection-image-store.jpg?v=1637658282"
             data-src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/tuscany-ultimate-collection-image-store.jpg?v=1637658282"
             alt="">

          {% else %}
        <img id="{{ img_id }}"
             class="grid-view-item__image lazyload"
             src="{{ product.featured_image | img_url: '900x900' }}"
             data-src="{{ img_url }}"
             data-aspectratio="{{ product.featured_image.aspect_ratio }}"
             data-sizes="auto"
             alt="">
      {% endif %}
    </div>
    
   
 


  <div style="position:relative;text-align:left;">
    

    <h3><b>{{ product.title }}</b></h3>
<!--  <p style="margin:0;"><span> {{ product.vendor }}</span></p> -->
    {% if product.title == 'Valencia Tuscany Ultimate Luxury Edition' %}
          <div>
           <ul style="list-style:disc;">
              <!--               <li>Italian Nappa Leather 11000</li> -->
              <li>- 100% covered in Matte Super Supple Semi-Aniline Italian Nappa Leather 20000</li>
              <li>- Power lumbar, headrest and recline</li>
              <li>- Perforated French diamond stitching with Nappa covered Back Finisher Plate</li>
              <li>- RGB LED lighting (7 colors to choose from) and Seat Memory</li>
              <li>- USB A and USB C Charging with Beautiful Black Chrome Controller and Cupholder</li>
              <li>- Parisian Velour lined armrest storage</li>
            </ul>
          </div>
         {% endif %}

      {% if template == 'index' %}
      <p> {{ product.description | strip_html |  truncatewords: 55 }}</p>
      {% endif %}
starting at
      {% include 'new-product-price', variant: product %}
 		<button>
          Buy Now
    </button>


      {% for tag in product.tags %}
      {% if tag contains 'instock' %}
      <ul class="product-badge">
        <li style="color:#296390;font-weight:Bold;">
          <span>Express Delivery</span>
          <img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/express-delivery-icon.svg?v=1617744161" alt="Express Delivery Icon" />
        </li>
        <!--         <li>
<span style="color:green;font-weight:Bold;">In Stock</span>
<img src="https://cdn.shopify.com/s/files/1/0069/9373/9831/files/in-stock-icon.svg?v=1617744161" alt="In Stock Icon"/>
</li> -->
      </ul>

      {% endif %}
      {% endfor %}


<!--       <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}"></div> -->

    </div>
        </a>
      </li>
    {% else %}

      {% for i in (1..product_limit) %}
        <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          <div class="grid-view-item product-card">
            <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
              <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
            </a>
            <div class="grid-view-item__image-wrapper">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
            {% include 'product-price' %}
          </div>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible" aria-hidden="true" />
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
  {% endif %}

</div>



{% schema %}
{
  "name": {
    "de": "Featured Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fr": "Collection vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "pt-BR": "Coleção em destaque"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Featured Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fr": "Collection vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "pt-BR": "Coleção em destaque"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fr": "Produits par rangée",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "pt-BR": "Produtos por linha"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "de": "Reihen",
        "en": "Rows",
        "es": "Filas",
        "fr": "Rangées",
        "it": "Righe",
        "ja": "行",
        "pt-BR": "Linhas"
      },
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "pt-BR": "Exibir fornecedores do produto"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "de": "'Alle anzeigen' Button anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'",
        "fr": "Afficher le bouton “Tout voir”",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "pt-BR": "Exibir botão 'Visualizar tudo'"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Featured Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fr": "Collection vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "pt-BR": "Coleção em destaque"
      },
      "category": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      }
    }
  ]
}
{% endschema %}
