<style>
  .bMfPUC,.fopdnV{position:relative}.cFOwMS{--pf-sample-color:#5d6b82;--pf-border-color:#d1d5db;opacity:1!important}.cHFtyQ i{margin-right:5px;vertical-align:middle}.bMfPUC:empty{display:initial}.fopdnV{padding:20px 0}.dwwwCM{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.dwwwCM input+input{margin:0 10px}.dwwwCM button,.dwwwCM input{height:40px;padding:0 20px;line-height:40px;outline:0;-webkit-appearance:none}.dwwwCM button{border:none;background-color:#2d2d2d;color:#fff;font-size:13px;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.dwwwCM button i+span{margin-left:10px}.dwwwCM input{width:100%;border:2px solid #2d2d2d}.iZqxsD>span:last-child{line-height:inherit;display:block;margin-right:0!important}@media all{.__pf_8TjZ24dI .pf-16dd03034e80-1_{background-position:50% 50%;padding-top:25px;padding-bottom:45px;background-size:cover;background-image:none;background-color:#f9f9f9;margin-top:20px;margin-bottom:-80px}.__pf_8TjZ24dI .pf-16dd03034e80-4_{font-family:Poppins;font-weight:700;font-size:28px;letter-spacing:1px;line-height:30px;text-align:center}.__pf_8TjZ24dI .pf-16dd03034e80-28_,.__pf_8TjZ24dI .pf-16dd03034e80-7_{font-family:Poppins;font-weight:400;font-size:18px;letter-spacing:1px;margin-bottom:0;padding-top:0;padding-bottom:0}.__pf_8TjZ24dI .pf-16dd03034e80-7_{text-align:center;margin-top:-10px}.__pf_8TjZ24dI .pf-16dd03034e80-11_{margin-top:45px;border-radius:55px}.__pf_8TjZ24dI .pf-16dd03034e80-11_>input{opacity:1;padding-top:30px;padding-bottom:30px;border-style:none;border-top-left-radius:10px;border-bottom-left-radius:10px}.__pf_8TjZ24dI .pf-16dd03034e80-11_>button{padding-bottom:50px;padding-top:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;background-color:#296390}.__pf_8TjZ24dI .pf-16dd03034e80-28_{text-align:right;margin-top:14px}}@font-face{font-family:FontAwesome;src:url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.eot?v=4.7.0');src:url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.woff2?v=4.7.0') format('woff2'),url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.woff?v=4.7.0') format('woff'),url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.ttf?v=4.7.0') format('truetype'),url('https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:400;font-style:normal;font-display:swap}.pfa{display:inline-block;font-size:14px;line-height:1;font-family:FontAwesome!important;font-style:normal;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.pfa-envelope:before{content:"\f0e0"}
</style>
<style>
.sc-faUpoM {
background-position: 50% 50%;
padding-top: 25px;
padding-bottom: 45px;
background-size: cover;
background-image: none;
background-color: rgb(249, 249, 249);
margin-top: 20px;
margin-bottom: -80px;
}
  
.sc-clIzBv {
  display: flex;
  }
  
  .pf-c0001 {
  margin: 20%, 20%, 10%, 10%;
  }
</style>

<link rel="stylesheet">
		  <div style="opacity:0" class="sc-faUpoM cFOwMS __pf __pf_8TjZ24dI">
            <div data-section-id="pf-8748" data-pf-type="Section" class="sc-gHjyzD fopdnV pf-16dd03034e80-1_ pf-bg-lazy">
              <div style="--cw:1170px" class="sc-JEhMO dxozkW">
                <div class="sc-clIzBv iQyrr pf-16dd03034e80-2_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row">
                  <div class="pf-c0001" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:5">
                    <div data-pf-type="Column" class="sc-fydGpi bMfPUC pf-16dd03034e80-3_">
                      <h3 data-pf-type="Heading" class="sc-edERGn cHFtyQ pf-16dd03034e80-4_">
                        <span data-pf-type="Text" class="sc-hgKiOD hnskCB pf-16dd03034e80-6_">Subscribe for Latest Deal Updates and Offers</span>
                      </h3>
                      <p class="sc-iukxot iZqxsD pf-16dd03034e80-7_" data-pf-type="Paragraph">
                      	<span data-pf-type="Text" class="sc-hgKiOD hnskCB pf-16dd03034e80-9_">Sign up to receive 10% off your first order, exclusive offers and design updates.
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:7">
                    <div data-pf-type="Column" class="sc-fydGpi bMfPUC pf-16dd03034e80-10_">
                      <form target="_blank" action="" method="POST" data-pf-type="MailChimp" class="sc-hGnimi dwwwCM pf-16dd03034e80-11_">
                        <input type="text" placeholder="Enter your email here" name="EMAIL" required=""/>
                        <button><i class="pfa pfa-envelope"></i><span>Subscribe Now</span></button>
                      </form><p class="sc-iukxot iZqxsD pf-16dd03034e80-28_" data-pf-type="Paragraph">
                      <span data-pf-type="Text" class="sc-hgKiOD hnskCB pf-16dd03034e80-27_">Get 10% off Your First Order.
                      </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
		</div>

<script>
    !function(){window.__pagefly_setting__ && (window.__pagefly_setting2__ = window.__pagefly_setting__);window.__pagefly_setting__ = {"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.20.7","shopDomain":"valencia-theater-seating.myshopify.com","elementData":{},"pageTitle":"footer","pageType":"section","pageId":"16dd0303-4e80-4524-923d-b2acc09d332e","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Poppins":{"100":1,"300":0,"400":0},"Lato":{"400":0},"Playfair Display":{"400":0},"Source Sans Pro":{"400":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting2__&&(window.__pagefly_setting__=(function _(t,e){for(var n in e)"object"==typeof e[n]?t[n]=_(t[n]||{},e[n]):t[n]=e[n];return t})(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__);window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};}()
  </script><script src="https://cdn.pagefly.io/pagefly/3.20.7/core/helper.js" async></script>

{%- assign social_icons = false -%}
{%- assign inline_list = false -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign footer_item = 'site-footer__item--full-width' -%}
    {%- assign inline_list = true -%}
  {%- when 2 -%}
    {%- assign footer_item = 'site-footer__item--one-half' -%}
    {%- assign inline_list = true -%}
  {%- when 3 -%}
    {%- assign footer_item = 'site-footer__item--one-third' -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'newsletter' -%}
        {%- assign footer_item = 'site-footer__item--one-quarter' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- when 4 -%}
    {%- assign footer_item = 'site-footer__item--one-quarter' -%}
  {%- when 5 -%}
    {%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}

{% comment %} Create an appropriate hover color based on text color and brightness {% endcomment %}
{%- assign footer_text_color = section.settings.color_footer_text -%}
{%- assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness -%}
{%- if footer_text_color_brightness <= 26 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 25 -%}
{%- elsif footer_text_color_brightness <= 65 -%}
  {%- assign footer_text_color_hover = footer_text_color | color_lighten: 15 -%}
{%- else -%}
  {%- assign footer_text_color_hover = footer_text_color | color_darken: 10 -%}
{%- endif -%}

<style>
  .site-footer__hr {
    border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
  }

  .site-footer a,
  .site-footer h4,
  .site-footer__rte p,
  .site-footer small {
    color: {{ section.settings.color_footer_text }};
  }

  .site-footer {
/*     background-color: {{ section.settings.color_footer_bg }}; */
    background-color:#f9f9f9;
  }

  .site-footer a:hover {
    color: {{ footer_text_color_hover }};
  }
</style>

<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="site-footer__content">
      {%- for block in section.blocks -%}

        <div class="site-footer__item
                    {% if section.blocks.size == 1 %} site-footer__item--center{% endif %}
                    {{ footer_item }}
                    {% if block.type == 'newsletter' and section.blocks.size == 3 %}site-footer-newsletter__one-half{% endif %}"
             {{ block.shopify_attributes }}>
          <div class="site-footer__item-inner site-footer__item-inner--{{ block.type }}">

            {%- if block.settings.title -%}
              <h4>{{ block.settings.title | escape }}</h4>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'newsletter' -%}
                <div class="site-footer__newsletter
                          {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                  {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                      <input type="email"
                        name="contact[email]"
                        id="{{ formId }}-email"
                        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                        value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}>
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        </button>
                      </span>
                    </div>
                    {% if form.errors contains 'email' %}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        {% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                      </span>
                    {% endif %}
                  {% endform %}
                </div>

              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="site-footer__rte
                              {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
                      {{ block.settings.text }}
                  </div>
                {%- endif -%}

              {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}
                  <ul class="site-footer__linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="site-footer__linklist-item">
                        <a href="{{ link.url }}"
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>

            {%- endcase -%}

          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>

<!--   <hr class="site-footer__hr"> -->

  <div class="page-width">
    <div class="grid grid--no-gutters small--text-center">
      <div class="grid__item one-half small--one-whole">
        {%- if social_icons -%}
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- if settings.social_facebook_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-facebook' -%}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-twitter' -%}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-pinterest' -%}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-instagram' -%}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-tumblr' -%}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-snapchat' -%}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-youtube' -%}
                  <span class="icon__fallback-text">YouTube</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li>
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" aria-describedby="a11y-external-message">
                  {%- include 'icon-vimeo' -%}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
              </li>
            {%- endif -%}
            {%- if template.name == 'blog' or template.name == 'article' -%}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {%- include 'icon-rss' -%}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- else -%}
          <div class="small--hide">
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
            <small class="site-footer__copyright-content site-footer__copyright-content-powered-by">{{ powered_by_link }}</small>
          </div>
        {%- endif -%}
      </div>

      <div class="grid__item one-half small--one-whole">
        {% if section.settings.show_payment_icons %}
          <div class="grid__item site-footer__payment-icons">
            {% unless shop.enabled_payment_types == empty %}
              <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
              <ul class="payment-icons list--inline site-footer__icon-list">
                {% for type in shop.enabled_payment_types %}
                  <li class="payment-icon">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
          </div>
        {% endif %}
      </div>
      <div class="grid__item{% unless social_icons %} medium-up--hide{% endunless %}">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
        <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
      </div>
    </div>
  </div>
<!--   <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script> -->
<!--   <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  
<!--  <script>
window._browsee = window._browsee || function () { (_browsee.q = _browsee.q || []).push(arguments) };
_browsee('init', '86a0945442ddca8bb6d146115b47f5c351a176313c9ee766');
</script> -->
<script async src='https://cdn.browsee.io/js/browsee.min.js'></script> 
<!-- <script src="{{ 'lightslider.js' | asset_url }}"></script> -->
  <script>
    
//       console.log(  mminch(1156).toInch());

   
    window.onload = function () {
      
       
      
//       $('.loadingScreen').hide();
      
      
//         console.log( "window loaded" );
      	var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
    didScroll = true;
});

setInterval(function() {
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;
    
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $('header').removeClass('nav-down').addClass('nav-up');
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $('header').removeClass('nav-up').addClass('nav-down');
        }
    }
    
    lastScrollTop = st;
//   console.log('1');
//   console.log('2')
}
    
    
    
    
    ////// Change Delivery Time
    
//     if($("input[value='Firm']").is(':checked')) {
//          	$('.delivery').text('Build to order, shipping in: 10 Weeks');
//         }else if($("input[value='Soft']").is(':checked')){
//         	$('.delivery').text('Build to order, shipping in: 10 Weeks');
//         }else{
//        	if($("input#swatch-0-nappa-black").is(':checked')) {
//          	$('.delivery').text('Build to order, shipping in: 7 Days');
//         }else if($("input#swatch-0-nappa-red").is(':checked')){
//         	$('.delivery').text('Build to order, shipping in: 21 Days');
//         }else if($("input#swatch-0-nappa-white").is(':checked')){
//         	$('.delivery').text('Build to order, shipping in: 21 Days');
//         }
//         }
    var mainObject = $("input[name='properties[Comfort Level]']");
    $(mainObject).hide();
//        console.log(mainObject.length);
       if(mainObject.length == 0){
         
//        	console.log('no option man');
          if($("input#swatch-0-nappa-black").is(':checked') || $("input#swatch-0-top-grain-black").is(':checked')  || $("input#swatch-0-black").is(':checked')){
            
              $('.delivery').text('Ready to ship in: 7 Days');
          }else{
//             console.log(mainObject.val());
        	$('.delivery').text('Build to order, shipping in: 6 - 8 Weeks');
        }
       }else{
//        		console.log('yes option man');
         
          if($("input#swatch-0-nappa-black").is(':checked') && mainObject.val() == 'Medium'){
//             console.log('cmon');
            
              $('.delivery').text('Ready to ship in: 7 Days');
          }else{
//             console.log(mainObject.val());
        	$('.delivery').text('Build to order, shipping in: 6 - 8 Weeks');
        }
       }
//       console.log('hello');
     $('.product-single__meta').click(function(){
//      
       var mainObject = $("input[name='properties[Comfort Level]']");
    $(mainObject).hide();
//        console.log(mainObject.length);
       if(mainObject.length == 0){
         
//        	console.log('no option man');
         if($("input#swatch-0-nappa-black").is(':checked') || $("input#swatch-0-top-grain-black").is(':checked')  || $("input#swatch-0-black").is(':checked')){
            
              $('.delivery').text('Ready to ship in: 7 Days');
          }else{
//             console.log(mainObject.val());
        	$('.delivery').text('Build to order, shipping in: 6 - 8 Weeks');
        }
       }else{
//        		console.log('yes option man');
         
          if($("input#swatch-0-nappa-black").is(':checked') && mainObject.val() == 'Medium'){
//             console.log('cmon');
            
              $('.delivery').text('Ready to ship in: 7 Days');
          }else{
//             console.log(mainObject.val());
        	$('.delivery').text('Build to order, shipping in: 6 - 8 Weeks');
        }
       }
   		 });
    };
  // Hide Header on on scroll down

    
//     $('input#swatch-0-nappa-red').click(function(){
// //     	console.log('5 Days')
//        if($("input[value='Firm']").is(':checked')) {
//          	$('.delivery').text('Esitmated Delivery Time :10 Weeks');
//         }else if($("input[value='Soft']").is(':checked')){
//         	$('.delivery').text('Esitmated Delivery Time :10 Weeks');
//         }else{
//        	 $('.delivery').text('Esitmated Delivery Time :21 Days');
//         }
//     });
//     $('input#swatch-0-nappa-red').click(function(){
//     	console.log('5 Days')
//         if($("input[value='Firm']").is(':checked')) {
//          	$('.delivery').text('Esitmated Delivery Time :10 Weeks');
//         }else if($("input[value='Soft']").is(':checked')){
//         	$('.delivery').text('Esitmated Delivery Time :10 Weeks');
//         }else{
//        	 $('.delivery').text('Esitmated Delivery Time :21 Days');
//         }
//     });
//     $('input#swatch-0-nappa-black').click(function(){
//     	console.log('5 Days')
//         $('.delivery').text('Esitmated Delivery Time :7 Days')
//     });
  </script>
  <style>.paybright-class-modal{z-index:9999 !important;}</style>
</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Zahlungsarten",
        "en": "Payment methods",
        "es": "Métodos de pago",
        "fr": "Moyens de paiement",
        "it": "Metodi di pagamento",
        "ja": "お支払い方法",
        "pt-BR": "Formas de pagamento"
      }
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fr": "Couleur",
        "it": "Colore",
        "ja": "色",
        "pt-BR": "Cor"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "de": "Schriftfarbe",
        "en": "Background",
        "es": "Fondo",
        "fr": "Couleur de fond",
        "it": "Sfondo",
        "ja": "背景",
        "pt-BR": "Plano de fundo"
      },
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "default": "#3d4246"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fr": "Liens rapides",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "pt-BR": "Links rápidos"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "pt-BR": "Menu"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "default": {
            "de": "Reden Sie über Ihr Unternehmen",
            "en": "Talk about your business",
            "es": "Habla sobre tu negocio",
            "fr": "Parlez de votre entreprise",
            "it": "Parla della tua attività commerciale",
            "ja": "あなたのビジネスについて語る",
            "pt-BR": "Fale sobre o seu negócio"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "pt-BR": "Texto"
          },
          "default": {
            "de": "<p>Teilen Sie Ihre Shop-Details, Werbeaktionen oder Markeninhalte mit Ihren Kunden.</p>",
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>",
            "es": "<p>Comparte detalles de la tienda, promociones o contenido de la marca con tus clientes.</p>",
            "fr": "<p>Partagez les détails de la boutique, les promotions ou le contenu de la marque avec vos clients.</p>",
            "it": "<p>Condividi dettagli del negozio, promozioni o contenuti del brand con i clienti.</p>",
            "ja": "<p>ストア詳細、プロモーション、ブランドのコンテンツをお客様と共有する。</p>",
            "pt-BR": "<p>Compartilhe detalhes da loja, promoções ou conteúdo da marca com seus clientes.</p>"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription",
        "it": "Iscriviti alla Newsletter",
        "ja": "メールマガジンの登録",
        "pt-BR": "Assinatura da newsletter"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          },
          "info": {
            "de": "Abonnenten werden zu Ihrer \"akzeptiert Marketingmaterial\"-Liste hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu lista \"acepta marketing\"[lista de clients.](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
            "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti](/admin/customers?query=&accepts_marketing=1) “Accetta marketing”.",
            "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1)に追加されます。",
            "pt-BR": "Os assinantes serão adicionados à sua lista de pessoas que “aceitam marketing” [lista de clientes.](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fr": "Newsletter",
            "it": "Newsletter",
            "ja": "メールマガジン",
            "pt-BR": "Newsletter"
          }
        }
      ]
    }
  ]
}
{% endschema %}
